cas.url={{cas_url}}
kouta-backend.cas.service={{kouta_backend_cas_service}}
kouta-backend.cas.username={{kouta_backend_cas_username}}
kouta-backend.cas.password={{kouta_backend_cas_password}}

kouta-backend.quick-index-timeout-seconds={{kouta_backend_quick_index_timeout_seconds | default('5')}}
kouta-backend.test-environment={{kouta_backend_test_environment | default('false')}}

kouta-backend.db.url=jdbc:postgresql://{{host_postgresql_kouta}}:{{host_postgresql_kouta_port}}/kouta
kouta-backend.db.port={{host_postgresql_kouta_port}}
kouta-backend.db.user={{postgres_app_user}}
kouta-backend.db.password={{host_postgresql_kouta_app_password}}
kouta-backend.db.connectionPool=HikariCP
kouta-backend.db.numThreads=10
kouta-backend.db.maxConnections=75
kouta-backend.db.minConnections=10
kouta-backend.db.queueSize=10000
kouta-backend.db.registerMbeans=true
kouta-backend.db.initializationFailTimeout=1000
kouta-backend.db.timeoutSeconds=20
kouta-backend.db.leakDetectionThresholdMillis=1800000

kouta-backend.sqs.queue.priority={{kouta_backend_sqs_queue_priority}}
kouta-backend.sqs.endpoint={{kouta_backend_sqs_endpoint}}
kouta-backend.sqs.region={{kouta_backend_sqs_region}}

kouta-backend.s3.region={{kouta_backend_s3_region}}
kouta-backend.s3.imageBucket={{kouta_backend_s3_image_bucket}}
kouta-backend.s3.imageBucketPublicUrl={{kouta_backend_s3_image_bucket_public_url}}
kouta-backend.s3.transferFileBucket={{kouta_backend_s3_transfer_file_bucket}}
kouta-backend.s3.transferFileSaveRetryCount={{kouta_backend_s3_transfer_file_save_retry_count}}
kouta-backend.s3.transferFileMaxItemCount={{kouta_backend_s3_transfer_file_max_item_count}}

host.virkailija={{host_virkailija}}
host.alb.virkailija={{host_alb_virkailija}}

kayttooikeus-service=https://{{host_virkailija}}/kayttooikeus-service
kayttooikeus-service.organisaatiohenkilo=https://{{host_virkailija}}/kayttooikeus-service/henkilo/$1/organisaatiohenkilo
kayttooikeus-service.userDetails.byUsername=http://{{host_alb_virkailija}}/kayttooikeus-service/userDetails/$1

organisaatio-service.organisaatio.oid.jalkelaiset=https://{{host_virkailija}}/organisaatio-service/api/$1/jalkelaiset
organisaatio-service.organisaatio.hierarkia=https://{{host_virkailija}}/organisaatio-service/api/hierarkia/hae
organisaatio-service.organisaatio.with.oid=https://{{host_virkailija}}/organisaatio-service/api/$1
organisaatio-service.organisaatiot.with.oids=https://{{host_virkailija}}/organisaatio-service/api/findbyoids

lokalisointi-service.localisation=https://{{host_virkailija}}/lokalisointi/cxf/rest/v1/localisation?category=kouta
koodisto-service.koodisto-koodit=https://{{host_virkailija}}/koodisto-service/rest/json/$1/koodi?onlyValidKoodis=true
koodisto-service.koodisto-koodit-with-version=https://{{host_virkailija}}/koodisto-service/rest/json/$1/koodi?onlyValidKoodis=false&koodistoVersio=$2
koodisto-service.koodisto-koodit.rinnasteiset=https://{{host_virkailija}}/koodisto-service/rest/json/relaatio/rinnasteinen/$1?onlyValidKoodis=true
koodisto-service.latest-koodiuri=https://{{host_virkailija}}/koodisto-service/rest/codeelement/latest/$1
koodisto-service.koodiuri-version=https://{{host_virkailija}}/koodisto-service/rest/codeelement/$1/$2
koodisto-service.sisaltyy-ylakoodit=https://{{host_virkailija}}/koodisto-service/rest/json/relaatio/sisaltyy-ylakoodit/$1

eperusteet-service.peruste-by-id=https://{{host_virkailija}}/eperusteet-service/api/perusteet/$1
eperusteet-service.tutkinnonosat-by-eperuste=https://{{host_virkailija}}/eperusteet-service/api/perusteet/$1/suoritustavat/reformi/tutkinnonosat
eperusteet-service.osaamisalat-by-eperuste=https://{{host_virkailija}}/eperusteet-service/api/perusteet/$1/osaamisalakuvaukset

ohjausparametrit-service.service=https://{{host_virkailija}}/ohjausparametrit-service
ohjausparametrit-service.parametri=https://{{host_virkailija}}/ohjausparametrit-service/api/v1/rest/parametri/$1

oppijanumerorekisteri-service=https://{{host_virkailija}}/oppijanumerorekisteri-service
oppijanumerorekisteri-service.henkilo=https://{{host_virkailija}}/oppijanumerorekisteri-service/henkilo/$1

hakemuspalvelu-service=https://{{host_virkailija}}/lomake-editori
hakemuspalvelu-service.forms=https://{{host_virkailija}}/lomake-editori/api/forms
hakemuspalvelu-service.hakukohde-info=https://{{host_virkailija}}/lomake-editori/api/external/kouta/hakukohde/$1
hakemuspalvelu-service.haku-ensisijainen-counts=https://{{host_virkailija}}/lomake-editori/api/external/kouta/haku/$1/hakukohde-ensisijainen-application-counts

kouta.external-api.modify.enabled={{kouta_external_api_modify_enabled}}

kouta-backend.elasticsearch.url={{kouta_backend_elasticsearch_url}}
kouta-backend.elasticsearch.auth-enabled={{kouta_backend_elasticsearch_auth_enabled | default('false')}}
kouta-backend.elasticsearch.username={{kouta_backend_elasticsearch_username}}
kouta-backend.elasticsearch.password={{kouta_backend_elasticsearch_password}}

valintaperusteet-service=https://{{host_virkailija}}/valintaperusteet-service
valintaperusteet-service.valintatapajono.oid=https://{{host_virkailija}}/valintaperusteet-service/resources/valintatapajono/$1

valinta-tulos-service=https://{{host_virkailija}}/valinta-tulos-service
valinta-tulos-service.haku.alimmatpisteet=https://{{host_virkailija}}/valinta-tulos-service/auth/sijoittelu/$1/sijoitteluajo/latest/alimmatPisteet

legacy-tarjonta-service.hakukohde.oid=http://{{host_virkailija}}/tarjonta-service/rest/v1/hakukohde/$1
legacy-tarjonta-service.haku.oid=http://{{host_virkailija}}/tarjonta-service/rest/v1/haku/$1

kouta-indeksoija.koulutus.quick=http://{{host_alb_virkailija}}/kouta-indeksoija/api/kouta/koulutus/quick?oid=$1
kouta-indeksoija.toteutus.quick=http://{{host_alb_virkailija}}/kouta-indeksoija/api/kouta/toteutus/quick?oid=$1
kouta-indeksoija.hakukohde.quick=http://{{host_alb_virkailija}}/kouta-indeksoija/api/kouta/hakukohde/quick?oid=$1
kouta-indeksoija.haku.quick=http://{{host_alb_virkailija}}/kouta-indeksoija/api/kouta/haku/quick?oid=$1
kouta-indeksoija.valintaperuste.quick=http://{{host_alb_virkailija}}/kouta-indeksoija/api/kouta/valintaperuste/quick?oid=$1
