.idea
.idea/
.git
*.iml
kouta-temp-db/
target/
embedded-jetty-vars.yml

kouta_backend.sql
.DS_Store
.localstack

kouta-backend/src/test/resources/dev-vars.yml
kouta-common/src/test/resources/dev-vars.yml
