cas.url={{cas_url}}
kouta-backend.cas.service={{kouta_backend_cas_service}}
kouta-backend.cas.username={{kouta_backend_cas_username}}
kouta-backend.cas.password={{kouta_backend_cas_password}}

kouta-backend.db.url=jdbc:postgresql://{{host_postgresql_kouta}}:{{host_postgresql_kouta_port}}/kouta
kouta-backend.db.port={{host_postgresql_kouta_port}}
kouta-backend.db.user={{postgres_app_user}}
kouta-backend.db.password={{host_postgresql_kouta_app_password}}
kouta-backend.db.connectionPool=HikariCP
kouta-backend.db.numThreads=10
kouta-backend.db.maxConnections=75
kouta-backend.db.minConnections=10
kouta-backend.db.queueSize=10000
kouta-backend.db.registerMbeans=true
kouta-backend.db.initializationFailTimeout=1000
kouta-backend.db.timeoutSeconds=20
kouta-backend.db.leakDetectionThresholdMillis=1800000

kouta-backend.s3.region={{aws_region}}
kouta-backend.s3.imageBucket={{kouta_backend_s3_image_bucket}}
kouta-backend.s3.imageBucketPublicUrl={{kouta_backend_s3_image_bucket_public_url}}
kouta-backend.s3.transferFileBucket={{ovara_siirtotiedosto_s3_bucket}}
kouta-backend.s3.transferFileTargetRoleArn={{ovara_siirtotiedosto_s3_target_role_arn}}
kouta-backend.s3.transferFileSaveRetryCount={{kouta_backend_s3_transfer_file_save_retry_count}}
kouta-backend.s3.transferFileMaxItemCount={{kouta_backend_s3_transfer_file_max_item_count}}

host.virkailija={{host_virkailija}}
host.alb.virkailija={{host_alb_virkailija}}

kayttooikeus-service=https://{{host_virkailija}}/kayttooikeus-service
kayttooikeus-service.organisaatiohenkilo=https://{{host_virkailija}}/kayttooikeus-service/henkilo/$1/organisaatiohenkilo
kayttooikeus-service.userDetails.byUsername=http://{{host_alb_virkailija}}/kayttooikeus-service/userDetails/$1

organisaatio-service.organisaatio.oid.jalkelaiset=https://{{host_virkailija}}/organisaatio-service/api/$1/jalkelaiset
organisaatio-service.organisaatio.hierarkia=https://{{host_virkailija}}/organisaatio-service/api/hierarkia/hae
organisaatio-service.organisaatio.with.oid=https://{{host_virkailija}}/organisaatio-service/api/$1
organisaatio-service.organisaatiot.with.oids=https://{{host_virkailija}}/organisaatio-service/api/findbyoids

lokalisointi-service.localisation=https://{{host_virkailija}}/lokalisointi/cxf/rest/v1/localisation?category=kouta
koodisto-service.koodisto-koodit=https://{{host_virkailija}}/koodisto-service/rest/json/$1/koodi?onlyValidKoodis=true
koodisto-service.koodisto-koodit-with-version=https://{{host_virkailija}}/koodisto-service/rest/json/$1/koodi?onlyValidKoodis=false&koodistoVersio=$2
koodisto-service.koodisto-koodit.rinnasteiset=https://{{host_virkailija}}/koodisto-service/rest/json/relaatio/rinnasteinen/$1?onlyValidKoodis=true
koodisto-service.latest-koodiuri=https://{{host_virkailija}}/koodisto-service/rest/codeelement/latest/$1
koodisto-service.koodiuri-version=https://{{host_virkailija}}/koodisto-service/rest/codeelement/$1/$2
koodisto-service.sisaltyy-ylakoodit=https://{{host_virkailija}}/koodisto-service/rest/json/relaatio/sisaltyy-ylakoodit/$1

eperusteet-service.peruste-by-id=https://{{host_virkailija}}/eperusteet-service/api/perusteet/$1
eperusteet-service.tutkinnonosat-by-eperuste=https://{{host_virkailija}}/eperusteet-service/api/perusteet/$1/suoritustavat/reformi/tutkinnonosat
eperusteet-service.osaamisalat-by-eperuste=https://{{host_virkailija}}/eperusteet-service/api/perusteet/$1/osaamisalakuvaukset

ohjausparametrit-service.service=https://{{host_virkailija}}/ohjausparametrit-service
ohjausparametrit-service.parametri=https://{{host_virkailija}}/ohjausparametrit-service/api/v1/rest/parametri/$1

oppijanumerorekisteri-service=https://{{host_virkailija}}/oppijanumerorekisteri-service
oppijanumerorekisteri-service.henkilo=https://{{host_virkailija}}/oppijanumerorekisteri-service/henkilo/$1

hakemuspalvelu-service=https://{{host_virkailija}}/lomake-editori
hakemuspalvelu-service.forms=https://{{host_virkailija}}/lomake-editori/api/forms
hakemuspalvelu-service.hakukohde-info=https://{{host_virkailija}}/lomake-editori/api/external/kouta/hakukohde/$1
hakemuspalvelu-service.haku-ensisijainen-counts=https://{{host_virkailija}}/lomake-editori/api/external/kouta/haku/$1/hakukohde-ensisijainen-application-counts

valintaperusteet-service=https://{{host_virkailija}}/valintaperusteet-service
valintaperusteet-service.valintatapajono.oid=https://{{host_virkailija}}/valintaperusteet-service/resources/valintatapajono/$1

valinta-tulos-service=https://{{host_virkailija}}/valinta-tulos-service
valinta-tulos-service.haku.alimmatpisteet=https://{{host_virkailija}}/valinta-tulos-service/auth/sijoittelu/$1/sijoitteluajo/latest/alimmatPisteet
