<?xml version="1.0" ?>
<Configuration name="Log4j1">
    <Appenders>
{# raw-endraw -välillä template engine ei tee mitään! #}
{% raw %}
        <Console name="AUDIT" target="SYSTEM_OUT">
            <PatternLayout pattern="%m%n"/>
        </Console>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd'T'HH:mm:ss.SSSX} %-5p {%X{user}} [%t] %-5p %c: %m%n"/>
        </Console>
{% endraw %}
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
        <Logger name="org.apache.activemq.spring" level="info"/>
        <Logger name="org.springframework" level="error"/>
        <Logger name="org.apache.cxf" level="error"/>
        <Logger name="fi.vm.sade.auditlog.Audit" level="info">
            <AppenderRef ref="AUDIT"/>
        </Logger>
        <Logger name="org.flywaydb" level="info"/>
        <Logger name="javax.sql" level="error"/>
        <Logger name="org.jasig.cas.client.session" level="info"/>
        <Logger name="org.vaadin" level="error"/>
        <Logger name="org.apache.activemq" level="info"/>
    </Loggers>
</Configuration>
